*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    display: flex;
    height: 100vh;
    align-items:center;
    justify-content: center;
    padding:2px;
    background:#D2E4FD;
    background-size: cover;
}
.container{
    height: 97%;
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 20px;  
    margin: 0 28px;  
    padding-right:5px;  
    
}
.form-title{
    margin-top:25px;
    font-weight: 100;
    padding-bottom: 40px; 
    padding-top:30px;
    margin-bottom:2px;
}
h6{
    font-family: Times, serif;
    font-size: 40px;
    text-align: center;
}
.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0
}
.main-user-box:nth-child(2n){
    justify-content: end;
}
.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom:20px;
}
.user-input-box input::placeholder {
    font-size: 16px; 
}
.user-input-box label{
    width: 95%;
    font-size:15px; 
    margin: 10px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 8px;
    border-color: rgb(201, 196, 196);
    border:0.5px solid  rgb(201, 196, 196) ;
    border-left:0.5px solid rgb(201, 196, 196);
    
}
select {
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 8px;
    border-color: rgb(201, 196, 196);
    border:0.5px solid  rgb(201, 196, 196) ;
    border-left:0.5px solid rgb(201, 196, 196);
}
.gender-title{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 100;
}
.gender-category{
    display: block;
    align-items: column;
    margin:5px 0;
    
}
.checkbox-content{
    margin-top: 25px;
}
.gender-category-label{
    padding:0 20px 0 5px;
}
.form-submit-btn{
    margin-top: 40px; 
}
.form-button-btn input{

    display: block;
    width: 99%;
    margin-top: 25px;
    font-size: 15px;
    padding: 10px;
    border:none;
    color:white;
    background-color:#0049B4;
    border-radius:8px;
    margin-bottom:25px;
}
.more-details{
    font-size: 15px;
    text-align: center;
    padding:5px;
}
.more-details a{
    text-decoration: none;
    color:#0D6EFD;
}
.second{
    margin:5px;
}
@media(max-width: 600px){
    .conatiner{
      
        min-width: 280px;
    }
    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }
    .gender-category{
        display:flex;
        justify-content: space-between;
        width: 100%;  
    }
    .main-user-info{
        max-height: 380px;
        overflow: auto; 
    }
    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}