*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    display: flex;
    height: 100vh;
    align-items:center;
    justify-content: center;
    padding:2px;
    background:#E9BCFE;
    background-size: cover;
    padding-top:70px;
    padding-bottom:310px;
}
.container{
    height: 97%;
    max-width: 440px;
    width: 100%;
    border-radius: 8px;
    box-shadow:2px 0 15px 0 rgb(176, 172, 172);
    background: #fff;
    padding: 20px;  
    margin: 0 28px;  
    padding-right:2px;  
    
}
.form-title{
    margin-top:20px;
    font-weight: 100;
    padding-bottom: 40px; 
    padding-top:30px;
    margin-bottom:2px;
}
h6{
    font-family: Times, serif;
    font-size: 40px;
    text-align: center;
}
.container .logo {
    position: relative;
    height: 100px;
}
.container .logo img {
    position: absolute;
    top: 70%;
    width: 50px;
    height: 50px;
    margin:0 0 0 50px;
    transform: translateY(-80%);  
}


.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom:20px;
}
.user-input-box input::placeholder {
    font-size: 16px; 
}
.user-input-box label{
    width: 95%;
    font-size:15px; 
    margin: 10px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 8px;
    border-color: rgb(201, 196, 196);
    border:0.5px solid  rgb(201, 196, 196);
    border-left:0.5px solid rgb(201, 196, 196);
    
}

.form-submit-btn{
    margin-top: 30px; 
}
.form-button-btn input{
    display: inline-block;
    width: 400px;
    margin-top: 25px;
    font-size: 15px;
    padding: 10px;
    border:none;
    color:white;
    background-color:#0049B4;
    border-radius:8px;
    margin-bottom:25px;
}
.more-details{
    position:absolute;
    margin-top:10px;
    font-size: 15px;
    margin-left:110px;
    text-align: center;
    justify-content: center;
    padding:5px;
}
.more-details a{
    text-decoration: none;
    color:#0D6EFD;
    
}
.second{
    margin:5px;
}
.footer{
    position: relative;
    padding-top:150px;
    padding-left:110px;
}
@media(max-width: 600px){
    .conatiner{
        min-width: 280px;
        overflow: auto;
    }
    .form-title{
        margin-top:-20px;
        

    }
    .main-user-info{
        margin-top: -20px;
        width: 100%;
    }

    .user-input-box{
        margin-bottom: -10px;
        width: 100%;
    }
    
   
    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }
   .more-details a{
        margin-top:-60px;
   }
}